@page "{token?}"
@using ZeroGravity.Shared.Models
@model ZeroGravity.Pages.ResetPasswordModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 class="headlineLG">@Model.StringLocalizer[MessageType.ResetPassword.Title]</h1>
@if (Model.Result)
{
    <p>@Model.StringLocalizer[MessageType.ResetPassword.ResetSuccessful]</p>
}
else
{
    <form id="forgot-password-form" method="post">
        <div class="validation-summary-errors" asp-validation-summary="All"></div>
        <div class="formGroup">
            <label>@Model.StringLocalizer[MessageType.ResetPassword.Email]</label>
            <input class="formControl" asp-for="Input.Email" />
            <span class="validationText" asp-validation-for="Input.Email"></span>
        </div>
        <div class="formGroup">
            <label>@Model.StringLocalizer[MessageType.ResetPassword.Password]</label>
            <input class="formControl" asp-for="Input.Password" />
            <span class="validationText" asp-validation-for="Input.Password"></span>
        </div>
        <div class="formGroup">
            <label>@Model.StringLocalizer[MessageType.ResetPassword.ConfirmPassword]</label>
            <input class="formControl" asp-for="Input.ConfirmPassword" />
            <span class="validationText" asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <button class="button" type="submit">@Model.StringLocalizer[MessageType.ResetPassword.ResetPassword]</button>
    </form>
}

@{
}
